:root {
  --bg: #0f1115;
  --card: #111217;
  --text: #eee;
}

html, body, #root {
  height: 100%;
  margin: 0;
  font-family: Inter, system-ui, sans-serif;
  background: var(--bg);
  color: var(--text);
}

.app {
  padding: 20px;
}

.card {
  width: 300px;
  max-width: 95vw;
  height: 400px;
  background: var(--card);
  border-radius: 12px;
  padding: 12px;
  box-sizing: border-box;
  margin:auto;
  margin-top: 12%;
}

/* canvas container should fill the card area */
.canvas-wrap {
  width: 100%;
  height: 100%;
}
